{% assign awards = site.data.data.awards %}
{% if awards %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-trophy fa-xs">
      <i class="fas fa-circle fa-trophy-2x"></i>
      <i class="fas fa-archive fa-trophy-1x fa-inverse"></i>
      
    </span>
  </h2>

  
  {% for award in awards.assignments %}
      <div class="item">

        <span class="project-title">
          <a href="{{ award.link }}">{{ award.title }}</a>
        </span>

        {% if award.tagline %}
        - <span class="project-tagline">{{ award.tagline }}</span>
        {% endif %}

      </div><!--//item-->
    {% endfor %}

</section><!--//section-->
{% endif %}
