{% assign teachings = site.data.data.teachings %}
{% if teachings %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa fa-graduation-cap fa-xs">
      
    </span>
    {{ teachings.title }}
  </h2>

  {% if teachings.intro %}
  <div class="intro">
      <p>{{ teachings.intro }}</p>
  </div><!--//intro-->
  {% endif %}
  {% for teaching in teachings.assignments %}
      <div class="item">

        <span class="project-title">
          <a href="{{ teaching.link }}">{{ teaching.title }}</a>
        </span>

        {% if award.tagline %}
        - <span class="project-tagline">{{ teaching.tagline }}</span>
        {% endif %}

      </div><!--//item-->
    {% endfor %}


</section><!--//section-->
{% endif %}
